<!DOCTYPE html>
<html>
  <head>
    <title>Principals Weekly</title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://use.fontawesome.com/2cf8943d57.js"></script>
  </head>

  <body>

  <%= render 'home/header'%>
<div class = 'container'>

<% flash.each do |name,msg| %>
  <%= content_tag(:div, msg, class: "alert alert-info") %>
<% end %>

    <%= yield %>

    <%=render 'home/footer'%>
</div>    
  </body>
</html>
